.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.drag-cursor {
    cursor: move;
}

.pointer-cursor {
    cursor: pointer;
}

.pointer-disabled {
    cursor: not-allowed;
}

.center-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}